#{$projectSelector} {

	a {

		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}

	button {

		border: none;
		outline: none;
		background: none;
		cursor: pointer;

		&:hover {
			cursor: pointer;
		}
	}

	.block-button {
		color: $WHITE;
		background-color: $GREEN;
		user-select: none;
		border-radius: 3px;
		padding: 10px 24px 12px;
		display: inline-block;

		@media (min-width: $BREAKPOINT_NARROW) {
			padding: 16px 30px 16px;
		}

		.label {
			display: inline-block;
		}

		&.transparent {
			border: solid 2px $WHITE;
			padding: 8px 24px 9px 24px;
			color: $WHITE;
			background-color: transparent;
		}
	}

	.round-button {
		background-color: $GOLD;
		border-radius: 51%;
		display: block;
		position: relative;
		width: 36px;
		height: 36px;
		
		&.plus,
		&.close {
			.icon {
				@include absoluteTL(50%,50%);
				&:before {
					content:"";
					display: block;
					width: 14px;
					height: 2px;
					background-color: $WHITE;
					@include absoluteTL(-1px, -7px);
				}
				&:after {
					content:"";
					display: block;
					width: 2px;
					height: 14px;
					background-color: $WHITE;
					@include absoluteTL(-7px, -1px);
				}
			}
		}

		&.close {
			.icon {
				&:before,
				&:after {
					transform-origin: center center;
					transform: rotate(45deg);
				}
			}
		}

		&.big {
			width: 64px;
			height: 64px;
		}
	}
}