#{$projectSelector} {

	.header--main {
		@extend %header-font;
		text-transform: uppercase;
		font-weight: $EXTRABOLD;
		@include font-size(32px, 40px);
		letter-spacing: 0.25rem;
		
		@media (min-width: $BREAKPOINT_NARROW) {
			@include font-size(36px, 48px);
			letter-spacing: 0.3rem;
		}

		@media (min-width: $BREAKPOINT_MEDIUM) {
			@include font-size(48px, 64px);
			letter-spacing: 0.375rem;
		}
	}

	.header--slim {
		@extend %header-font;
		text-transform: uppercase;
		font-weight: $LIGHT;
		@include font-size(26px, 36px);
		letter-spacing: 0.25rem;

		@media (min-width: $BREAKPOINT_NARROW) {
			@include font-size(30px, 40px);
			letter-spacing: 0.31rem;
		}
		
		@media (min-width: $BREAKPOINT_MEDIUM) {
			@include font-size(36px, 48px);
			letter-spacing: 0.361rem;
		}
	}

	.header--medium {
		@extend %header-font;
		text-transform: uppercase;
		font-weight: $EXTRABOLD;
		@include font-size(17px, 24px);

		@media (min-width: $BREAKPOINT_NARROW) {
			@include font-size(18px, 24px);
			letter-spacing: 0.075rem;
		}

		em {
			font-weight: $SEMIBOLD;
			font-style: normal;
		}
	}

	.header--small {
		@extend %header-font;
		font-weight: $REGULAR;
		@include font-size(15px, 24px);
		letter-spacing: 0.02rem;

		@media (min-width: $BREAKPOINT_MEDIUM) {
			@include font-size(16px, 24px);
			letter-spacing: 0.075rem;
		}
	}

	.button--label {
		@extend %header-font;
		text-transform: uppercase;
		font-weight: $SEMIBOLD;
		padding: 0;
		@include font-size(14px, 14px);
		letter-spacing: 0.02rem;
	}

	.body--normal {

		@extend %normal-font;
		font-weight: $REGULAR;

		@include font-size(15px, 24px);

		@media (min-width: $BREAKPOINT_NARROW) {
			@include font-size(16px, 24px);
			letter-spacing: 0.025rem;
		}

		a, a:hover, a:active {
			color: inherit;
			text-decoration: underline;
		}

		em {
			font-weight: $BOLD;
			font-style: normal;
		}
	}
}

