#{$projectSelector} {
	
	section {
		position: relative;
		text-align: center;
	}

	.intro {
		background-color: #ebe5df;
		color: $BLACK;

		background: #ebe5df url(#{$url_prefix}/assets/images/intro-N.jpg) center bottom;
		background-size: cover;
		height: calc(100vh - #{$HEADER_SIZE_N});
		@include min-screen($BREAKPOINT_NARROW){
			height: calc(100vh - #{$HEADER_SIZE_M});
			background: #ebe5df url(#{$url_prefix}/assets/images/intro-M.jpg) center 85%;
			background-size: cover;
		}
		@include min-screen($BREAKPOINT_MEDIUM){
			height: calc(100vh - #{$HEADER_SIZE_W});
			background: #ebe5df url(#{$url_prefix}/assets/images/intro-W.jpg) center 75%;
			background-size: cover;
		}

		&Text {
			padding-top: 40px;
			@include min-screen($BREAKPOINT_NARROW){
				// padding-top: percentage(50px/$BREAKPOINT_NARROW);
				padding-top: 57px;
			}
			@include min-screen($BREAKPOINT_MEDIUM){
				// padding-top: percentage(60px/$BREAKPOINT_WIDE);
				padding-top: 68px;
			}
		}

		&Header {
			display: block;
			width: 100%;
			margin-bottom: 6px;
			@include min-screen($BREAKPOINT_NARROW){
				margin-bottom: 19px;
			}
			@include min-screen($BREAKPOINT_MEDIUM){
				margin-bottom: 6px;
			}
		}

		&Title {
			display: block;
			margin: 0 auto 18px auto;
			width: percentage(11/12);
			@include min-screen($BREAKPOINT_NARROW){
				width: percentage(9/12);
				margin-bottom: 20px;
			}
			@include min-screen($BREAKPOINT_MEDIUM){
				width: percentage(7/12);
				margin-bottom: 12px;
			}
			
			max-width: 750px;
		}

		&Scroll {
			width: 100%;
			position: absolute;
			bottom: 0;
			padding-bottom: 60px;
			@include min-screen($BREAKPOINT_NARROW){
				// padding-bottom: percentage(50px/$BREAKPOINT_NARROW);
				padding-bottom: 44px;
			}
			@include min-screen($BREAKPOINT_MEDIUM){
				// padding-bottom: percentage(60px/$BREAKPOINT_WIDE);
				padding-bottom: 53px;
			}
			left: 0;

			&CTA {
				display: inline-block;
				position: relative;
			}

			&Icon {
				display: block;
				width: 20px;
				margin-top: 3px;
				margin-left: -10px;
				height: 11px;
				position: absolute;
				left: 50%;
				top: 100%;
				&:before,
				&:after {
					content: "";
					display: block;
					width:2px;
					height: 12px;
					background-color: $BLACK;
					position: absolute;
					left: 50%;
					top: 0;
					transform-origin: center 11px;
				}

				&:before {
					transform: rotate(-45deg);
				}
				&:after {
					transform: rotate(45deg);
				}
			}
		}
	}

	.choice {

		background-color: $WHITE;
		padding-top: 40px;
		position: relative;
		overflow: hidden;

		@include min-screen($BREAKPOINT_NARROW){
			padding-top: 65px;
		}

		@include min-screen($BREAKPOINT_MEDIUM){
			padding-top: 110px;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 50%;
				z-index: 1;
				background-color: $BLACK;
			}
		}
		
		&Title {
			position: relative;
			z-index: 2;
			color: #6E6E6E;
			width: percentage(11/12);
			margin-bottom: 40px;
			@include min-screen($BREAKPOINT_NARROW){
				margin-bottom: 60px;
			}
			@include min-screen($BREAKPOINT_MEDIUM){
				margin-bottom: 68px;
				width: percentage(8/12);
				max-width: 950px;
			}
		}

		&Tabs {
			position: relative;
			z-index: 2;
			display: flex;
			align-content: stretch;

			@include min-screen($BREAKPOINT_MEDIUM){
				display: none;
			}
		}

		&Tab {
			display: block;
			padding: 125px 0 15px 0;
			width: 50%;
			&.original {
				color: $WHITE;
				background-color: $BLACK;
			}
			&.vertuo {
				color: $BLACK;
				background-color: #F6F6F6;
			}
		}

		&Options {
			position: relative;
			z-index: 2;
			@include min-screen($BREAKPOINT_MEDIUM){
				display: flex;
				justify-content: space-evenly;
			}
		}

		&Container {
			padding: 25px 0 5px 0;
			display: none;

			@include min-screen($BREAKPOINT_NARROW){
				padding-bottom: 56px;
			}

			@include min-screen($BREAKPOINT_MEDIUM){
				display: block;
				width: 50%;
				padding-bottom: 114px;
			}

			&.is-visible {
				display: block;
			}

			&GraphicText {
				position: absolute;
				display: none;
				user-select: none;
				pointer-events: none;
				@include min-screen($BREAKPOINT_NARROW){
					display: block;
					top: 110px;
				}

				@include min-screen($BREAKPOINT_MEDIUM){
					top: -10px;
				}

				&.original {
					color: $WHITE;
					left: -29px;
					opacity: 0.1;
				}

				&.vertuo {
					color: $BLACK;
					right: -29px;
					opacity: 0.15;	
				}
			}

			&.original {
				color: $WHITE;
				background-color: $BLACK;
				@include min-screen($BREAKPOINT_MEDIUM){
					background-color: transparent;
					padding-left: 4.5%;
				}
			}
			&.vertuo {
				color: $BLACK;
				background-color: #F6F6F6;
				@include min-screen($BREAKPOINT_MEDIUM){
					background-color: transparent;
					padding-right: 4.5%;
				}
			}
		}

		&Item {
			padding-bottom: 38px;
			@include min-screen($BREAKPOINT_MEDIUM){
				padding-bottom: 30px;
			}

			> * {
				width: percentage(11/12);
				display: block;
				margin: 0 auto;
				@include min-screen($BREAKPOINT_NARROW) {
					width: percentage(7/12);
					max-width: 460px;
				}
			}
			&Graphic {
				height: 200px;
				background-color: rgba(#666, 0.25);
			}
			&Header {
				padding: 15px 0 5px 0;
				@include min-screen($BREAKPOINT_NARROW){
					padding-bottom: 8px;
				}
				@include min-screen($BREAKPOINT_MEDIUM){
					padding-bottom: 7px;
				}
			}
			&Title {
				padding-bottom: 15px;
				@include min-screen($BREAKPOINT_NARROW){
					padding-bottom: 6px;
				}
				@include min-screen($BREAKPOINT_MEDIUM){
					padding-bottom: 16px;
				}
			}
			&CTA {
				position: relative;
				padding: 25px 0 13px 0;
				display: none;
				@include min-screen($BREAKPOINT_MEDIUM){
					display: block;
				}
				&Label {
					color: $GOLD;
				}
				&Button {
					position: absolute;
					top: 58px;
					left: 50%;
					margin-left: -18px;
					@include min-screen($BREAKPOINT_MEDIUM){
						width: 36px;
					}
				}
			}
			&Features {
				display: flex;
				justify-content: space-evenly;
				@include min-screen($BREAKPOINT_MEDIUM){
					width: 85%;
					max-width: 670px;
				}
			}
			&Feature {
				width: percentage(160/320);
				max-width: 200px;
				padding-top: 30px;
				&Graphic {
					display: inline-block;
					width: 72px;
					height: 72px;
					background-color: rgba(#666, 0.25);
				}
				&Label {
					margin-top: 15px;
				}
			}
		}
	}

	.services {
		color: $WHITE;
		background-color: #1E1E1E;
		padding: 42px percentage(0.5/12) 48px percentage(0.5/12);

		@include min-screen($BREAKPOINT_NARROW){
			padding: 90px percentage(0.5/12) 69px percentage(0.5/12);			
		}

		@include min-screen($BREAKPOINT_MEDIUM){
			padding: 103px percentage(1/12) 69px percentage(1/12);			
		}

		&Title {
			max-width: 490px;
			margin: 0 auto 43px auto;
			@include min-screen($BREAKPOINT_NARROW){
				margin-bottom: 63px;	
			}
			@include min-screen($BREAKPOINT_MEDIUM){
				max-width: none;
			}
		}

		&Items {
			width: 100%;
			height: 120px;
			margin-bottom: 38px;
			@include min-screen($BREAKPOINT_NARROW){
				display: flex;
				justify-content: space-between;
				margin-bottom: 76px;
			}
		}
		&Item {
			display: none;
			width: 100%;
			&:first-child {
				display: block;
			}
			@include min-screen($BREAKPOINT_NARROW){
				display: block;
				width: 135px;
			}
			&Graphic {
				margin: 0 auto;
				width: 58px;
				height: 48px;
				background-color: rgba(#666, 0.25);
			}

			&Label {
				padding-top: 15px;

				@include min-screen($BREAKPOINT_MEDIUM){
					padding-top: 19px;
				}
			}
		}

		&Content {
			@include min-screen($BREAKPOINT_MEDIUM){
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
			}
		}

		&Graphic {
			width: 258px;
    	margin: 0 auto 14px auto;

    	@include min-screen($BREAKPOINT_NARROW){
    		width: 450px;
    		margin-bottom: 19px;
    	}
    	@include min-screen($BREAKPOINT_MEDIUM){
    		width: 55%;
    		margin: 0;
    	}

    	&Content {
    		@include aspect-ratio(431, 307);
    		width: 100%;
				background-color: rgba(#666, 0.25);
				@include min-screen($BREAKPOINT_MEDIUM){
					width: 95%;
				}
    	}
		}

		&Text {

			> * {
				display: block;
				width: 100%;
				margin: 0 auto;
				@include min-screen($BREAKPOINT_NARROW){
					width: 450px;
				}
			}

			@include min-screen($BREAKPOINT_MEDIUM){
    		width: 40%;
    		padding-top: 49px;
    		> * {
					width: percentage(3/4);
				}
    	}	

			&Header {
				padding-bottom: 4px;
				@include min-screen($BREAKPOINT_NARROW){
					padding-bottom: 12px;
				}
				@include min-screen($BREAKPOINT_MEDIUM){
					padding-bottom: 8px;
				}
			}
			&Title {
				padding-bottom: 18px;
			}
		}
	}
}